{% extends "layout.html "%}
{% block content %}
<h1 style="font-size:30;font-weight:bold;">What is SSN Student Social Help Forum?</h1>
<div style="font-size:20px">The SSN Student Help Forum aims to alleviate student difficulties in all aspects of their college life.</div>
<div style="font-size:20px">There is much truth when people say college life is one of the best years you will ever experience. But it is also new and new things are not always easy to get used to.</div>
<div style="font-size:20px">This page would mainly focus on smoothening the transition of all the young minds joining our college into becoming great people.</div>    
<div style="font-size:20px">Our forum provides an easy way for students to request help. It is much more accessible due to it being online.</div>
<div style="font-size:20px">Mentors will be constantly monitoring all the requests and they will also be posting their own posts.</div>
<div style="font-size:25px; font-weight:bold;"><br />So, register today and welcome to your new life at SSN.</div>
    {% endblock content%}
